#container {
  -webkit-box-sizing: border-dox;
     -moz-box-sizing: border-dox;
       -o-box-sizing: border-dox;
          box-sizing: border-dox;
  background-color: black;
  width: 1000px;

}

#chart {
  height: 700px;
  width: 833px;
  margin: 0 auto;
  background-color: black;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  float: left;
}

.row1 .box, .row2 .box {
  background-color: #AA49EE;
}

.row3 .box, .row4 .box {
  background-color: #0049EE;
}

.row5 .box, .row6 .box {
  background-color: #00CD3F;
}

.row7 .box, .row8 .box {
  background-color: yellow;
}

.row9 .box, .row10 .box {
  background-color: orange;
}

.row11 .box, .row12 .box {
  background-color: red;
}




